* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Calibri, Helvetica, sans-serif, sans-serif;
}

body {
}

.EntryContainer {
    border: 5px dotted purple;
    background-color: mediumpurple;
}
